{% extends 'welderapp/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="{{ demand.cover.url }}" class="img img-thumbnail img img responsive">

                <div class="caption">
                    <h4>{{ demand.name }}</h4>
                    <h5>{{ demand.date_of_order }}</h5>
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="">Item</a></li>
                <li role="presentation"><a href="{%url 'welderapp:create_design' demand.id %}">Add item</a></li>
            </ul>
            <div class="panel panel-success" style="margin: 2px">
                <div class="panel_heading">
                    <h3 class="text-center">Item</h3>
                </div>
                <div class="panel-body">
                    <div></div>
                    <table class="table">
                        <thead><tr>
                            <th>Item_name</th>
                            <th>length(Feet)</th>
                            <th>Width(Feet)</th>
                            <th>Cost</th>
                            <th>Design</th>
                            <th>action</th>
                        </tr></thead>
                        {% if demand.design_set %}
                            {% for design in demand.design_set.all %}
                                <tr>
                                    <td>{{design.item}}</td>
                                    <td>{{design.length_feet}}</td>
                                    <td>{{design.height_feet}}</td>
                                    <td>{{design.cost}}</td>
                                    <td><img src="{{ design.design.url }}" alt="" style="height: 50px; width: 50px"></td>
                                    <td><a href="{% url 'welderapp:update' design.id %}" class="btn btn-success btn-sm">
                                        <i class="fas fa-edit">Update</i>
                                    </a>
                                     <a href="{% url 'welderapp:delete_design' demand.id design.id %}"
                                        class="btn btn-danger btn-sm"
                                        onclick='return confirm("Are you sure you want to delete?")'>
                                         <i class="fas fa-trash">Delete</i>
                                     </a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}