{% extends 'welderapp/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center text primary">
            Orders

        </h3>
    {% if demands %}
      {% for demand in demands %}
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="{%  url 'welderapp:details' demand.id %}">
                <img src="{{ demand.cover.url }}" class="img img-thumbnail" style="height:150px; width:150px;">
                </a>
            </div>
                <div class="caption">
                    <h4>{{ demand.name }}</h4>
                    <h5>{{ demand.date_of_order }}</h5>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="demand_id" value="{{ demand.id }}">
                    <a href="{% url 'welderapp:delete_demand' demand.id %}"
                    onclick='return confirm("Are you sure you want to delete?")'>
                    <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </form>
                </div>
        </div>

      {% endfor %}
    {% endif %}
</div>
</div>

{% endblock %}