{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    </head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Order</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li> <a href="{% url 'weldingapp:index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Home</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">


                <li>
                    <a href="{% url 'weldingapp:order' %}">
                        <span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp; Add order
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'weldingapp:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'weldingapp:login' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Login
                    </a>
                </li>
                {% endif %}



            </ul>
        </div>

    </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>