{% extends 'weldingapp/base.html' %}
{% block content %}



<div class="container-fluid">
    <div class="row">
        <h3 class="text-center text primary">
            Items

        </h3>
    {% if items %}
      {% for item in items %}
        <div class="col-sm-3">
            <div class="thumbnail">
                <a href="">
                <img src="{{ item.design.url }}" class="img img-thumbnail" style="height:150px; width:150px;">
                </a>

                <div class="caption">
                    <h4>Item name: {{ item.item }}</h4>
                    <h5>length(feet): {{ item.length_feet }}</h5>
                    <h5>height(feet): {{ item.height_feet }}</h5>
                    <h5>Cost(ksh): {{ item.cost }}</h5>

                    <a href="{% url 'weldingapp:add_item' item.id %}" class="btn btn-info btn-sm">
                        <i class="fas fa-cart-plus">Add order</i>
                    </a>

                </div>
            </div>

        </div>

      {% endfor %}
    {% endif %}
</div>
</div>

{% endblock %}